:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-family: sans-serif;
  margin: 0.5rem;
}

h1,
h2,
h3,
p {
  margin: 0.5rem;
  padding: 0.5rem;
}

.gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid var(--clr-accent-400);
  margin: 0.5rem;
}

.pid {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: var(--clr-neutral-100);
  border-radius: 50%;
  border: 3px solid var(--clr-accent-400);
  text-align: center;
}

.card {
  border-radius: 0.5rem;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  display: none;
  position: absolute;
  width: 35ch;
  min-height: 100%;
  z-index: 1;
}

.card__content {
  --padding: 2rem;
  padding: var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.3) 20%, hsl(0 0% 0% / 1));
  display: none;
  position: absolute;
  z-index: 2;
  border: 3px solid var(--clr-accent-400);
  border-radius: 0.5rem;
}

.pid:hover .card,
.pid:hover .card__content {
  display: block;
  animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card__title {
  position: relative;
  width: max-content;
}

.card__title::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 0;
  bottom: 0;
  width: calc(100%);
  background: var(--clr-accent-400);
}

.card__button {
  display: flex;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: bolder;
  place-content: center;
  place-items: center;
}

.card__button:hover,
.card__button:focus {
  background: var(--clr-neutral-100);
}

.card__body {
  color: hsl(0 0% 100% / 0.75);
}

.pid {
  color: var(--clr-accent-400);
  font-weight: bolder;
}
